## Scrapping Author's Info

In [1]:
# Import libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Get the link of webpage to be scrapped, request and make a soup using html parser

main_link = 'http://quotes.toscrape.com/'
res = requests.get(main_link)
sp = BeautifulSoup(res.text, 'html.parser')

data = []


for quote_detail in sp.find_all('div', class_ = 'quote'):
    
# Get the link of inner webpage, which is to be scrapped, request and make a soup using html parser

    author_id = quote_detail.find('a').get('href')
    sub_link = main_link[:-1] + (author_id) + '/'
    response = requests.get(sub_link)
    soup = BeautifulSoup(response.text, 'html.parser')

# Observe the tag and class of author details by inspectig the webpage and add them to a list 

    author = quote_detail.find('small', class_ = 'author').text
    author_birth = soup.find('span', class_ = 'author-born-date').text
    author_place = soup.find('span', class_ = 'author-born-location').text[3:]
    description = soup.find('div', class_ = 'author-description').text[2:]
    
    data.append([author, author_birth, author_place, description])

# Make a Dataframe to showcase/play the list of lists clearly

df = pd.DataFrame(data, columns = ['Author', 'Author_birth', 'Author_place', 'Description'])
df.head()

,Author,Author_birth,Author_place,Description
0,Albert Einstein,"March 14, 1879","Ulm, Germany","In 1879, Albert Einstein was born in Ul..."
1,J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit...",See also: Robert GalbraithAlthough she ...
2,Albert Einstein,"March 14, 1879","Ulm, Germany","In 1879, Albert Einstein was born in Ul..."
3,Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom",Jane Austen was an English novelist who...
4,Marilyn Monroe,"June 01, 1926",The United States,Marilyn Monroe (born Norma Jeane Morten...

In [3]:
# Make a csv file to save the extracted data

df.to_csv('AuthorsDetails.csv', index = False)